@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Main Container */
.animal-list-page {
    margin-top: 100px; /* Space from the top */
    padding: 20px; /* Padding inside the main container */
    font-family: 'Montserrat', sans-serif; /* Apply font-family to the main container */
    background-color: #d0b190; /* Background color */
    min-height: 100vh; /* Full height for the page */
}

/* Control Elements */
.controls {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between controls */
    margin: 20px; /* Margin around controls */
}

.controls label {
    margin-right: 10px; /* Space to the right of the label */
}

.controls select, 
.controls .search-input {
    padding: 10px; /* Padding for controls */
    font-size: 16px; /* Font size for readability */
    border: 1px solid #ddd; /* Border for inputs */
    border-radius: 5px; /* Rounded corners */
    transition: border-color 0.3s; /* Smooth transition for focus */
}

.controls select:focus, 
.controls .search-input:focus {
    border-color: #6351a2; /* Highlight border on focus */
    outline: none; /* Remove default outline */
}

.controls .search-input {
    flex-grow: 1; /* Allow search input to grow */
    margin-left: 10px; /* Space between select and search input */
}
.animal-table th:last-child, .animal-table td:last-child {
    width: 180px; /* Increase width for the action buttons */
    text-align: center; /* Center align the buttons */
}

.icon-button {
    background-color: transparent; /* Transparent background for icon buttons */
    border: none; /* Remove border */
    cursor: pointer; /* Pointer cursor on hover */
    color: #6351a2; /* Match icon color with theme */
    margin-left: 5px; /* Add some spacing between the buttons */
    transition: color 0.3s ease; /* Smooth color transition */
}

.icon-button:hover {
    color: #4a3e86; /* Darker shade on hover */
}
/* Animal Table */
.animal-table {
    width: 100%; 
    border-collapse: collapse; /* Collapse borders */
    margin-top: 20px; /* Space above the table */
    font-size: 18px; /* Font size for the table */
    background-color: #ffffff; /* White background for the table */
    border-radius: 5px; /* Rounded corners for the table */
    overflow: hidden; /* Prevent overflow for rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.animal-table th, .animal-table td {
    padding: 12px 15px; /* Padding for table cells */
    text-align: left; /* Left align text */
    border: 1px solid #ddd; /* Light gray border */
}

.animal-table thead th {
    background-color: #FFFFFF; /* Background for header */
    color: #333; /* Text color for header */
    font-weight: 700; /* Bold header text */
    font-size: 21px; /* Font size for header */
}

.animal-table tbody td {
    font-weight: 400; /* Regular weight for body text */
}

.animal-table tbody tr:nth-child(odd) {
    background-color: #e5e1ff; /* Light purple for odd rows */
}

.animal-table tbody tr:nth-child(even) {
    background-color: #dfeefa; /* Light blue for even rows */
}

/* Image Styling */
.animal-table img.animal-image {
    width: 60px; /* Image width */
    height: 60px; /* Image height */
    object-fit: cover; /* Cover the image */
    border-radius: 5px; /* Rounded corners for images */
}

.paw-icon-container {
    width: 60px; /* Container width */
    height: 60px; /* Container height */
    background-color: #6351a2e1; /* Background color for paw icon */
    border-radius: 15px; /* Rounded corners for icon container */
    display: flex; /* Flexbox for alignment */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.default-paw-icon {
    font-size: 30px; /* Icon size */
    color: #2c2a33; /* Icon color */
}

/* Button Styling */
button {
    padding: 10px 15px; /* Padding for buttons */
    background-color: #6351a2; /* Button background color */
    color: white; /* Button text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover */
}

button:hover {
    background-color: #4a3e86; /* Darker shade on hover */
}

/* Pagination Styles */
.pagination {
    display: flex; /* Flexbox for alignment */
    align-items: center; /* Center vertically */
    margin-top: 20px; /* Space above pagination */
    justify-content: center; /* Center pagination controls */
}

.pagination button {
    border: none; /* No border */
    background-color: #6351a2; /* Match button background color */
    color: white; /* Text color */
    padding: 10px 15px; /* Increase padding for buttons */
    margin: 0 5px; /* Space between buttons */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.pagination button:hover:not(:disabled) {
    background-color: #4a3e86; /* Darker shade on hover */
}

.pagination button:disabled {
    background-color: #ccc; /* Gray when disabled */
    color: #666; /* Darker gray text when disabled */
    cursor: not-allowed; /* Not allowed cursor */
}

.pagination span {
    margin: 0 10px; /* Space around the page indicator */
    color: #6351a2; /* Color to match buttons */
    font-weight: bold; /* Bold for visibility */
}

/* Responsive Styles */
@media (max-width: 768px) {
    .controls {
        flex-direction: column; /* Stack controls vertically */
        align-items: flex-start; /* Align items to the start */
    }

    .controls label {   
        margin-bottom: 20px; /* Space below label */
    }

    .controls select, 
    .controls .search-input {
        width: 100%; /* Full width for inputs */
        margin-left: 0; /* Remove left margin */
    }
    
    .animal-table {
        font-size: 16px; /* Smaller font for tables on small screens */
    }

    .pagination {
        flex-direction: column; /* Stack pagination vertically on small screens */
    }
}

.table-container {
    padding: 20px; 
    background-color: #ffffff; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    max-width: 1200px; 
    min-width: 800px;
    min-height: 900px; 
    max-height: 1000px; 
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-close-button {
    background: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-content button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}
.add-animal-button{
    margin-top: 10px;
}